# AWS Configuration
AWS_REGION=us-east-1

# dbt Athena Configuration
DBT_ATHENA_S3_STAGING_DIR=s3://bit-bigdata-daily-state-cycle/bit_dbt/dev/
DBT_ATHENA_S3_DATA_DIR=s3://bit-bigdata-daily-state-cycle/bit_dbt/dev/data/
DBT_ATHENA_DATABASE=bit_dbt_dev
DBT_ATHENA_WORKGROUP=primary

# dbt Configuration
DBT_PROFILES_DIR=./
DBT_TARGET=dev


# Source Data Configuration
RAW_DATA_DATABASE=bandsintown_raw
RAW_DATA_S3_BUCKET=s3://bandsintown-raw-data/

